.dashboard-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 210vh;
}

.dashboard-header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  color: #f9f9f9;
}

.dashboard-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.dashboard-header p {
  font-size: 1.2rem;
  color: #f9f4f4;
}

.top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-right-button:hover {
  background-color: #0056b3;
}

.cart-section {
  text-align: center;
}

.empty-cart-message {
  font-size: 1.2rem;
  color: #555;
}

.cart-wrapper {
  margin-top: 20px;
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.cart-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.cart-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cart-item h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.cart-item p {
  font-size: 1rem;
  margin: 5px 0;
}

.cart-item button {
  padding: 5px 10px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #d32f2f;
}